@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}

#time {
    display: flex;
    gap: 40px;
    color: #fff;
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-linecap: round;
    stroke-width: 4;
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

#time div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}


#time div span {
    position: absolute;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.30em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.dots::before {
    content: "";
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr);
}


h1 {
    text-align: center;
    color: #c0c0c0;
    position: relative;
    top: 100px;
    font-family: Arial Narrow, Arial, sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    letter-spacing: 20px;
}

.newYear {
    font-size: 8em;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 0.6em;
    display: none;
}

.newYear span {
    font-size: 1em;
    font-weight: 500;
}

.fireworks {
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fireworks .firework {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px 50px;
}

.fireworks .firework:before {
    content: "";
    display: block;
    border-radius: 5px;
    background-color: #daa520;
    width: 5px;
    height: 0px;
    will-change: transform;
    transform: translateY(200px);
    animation: fireworkstart 3s ease-out infinite;
    animation: ;
}

.fireworks .firework .explosion {
    position: absolute;
    top: 0;
    width: 5px;
    height: 20px;
    opacity: 0;
    transform-origin: top center;
    will-change: transform;
    animation: explosion 0.7s linear 3s infinite;
}

.fireworks .firework .explosion:nth-child(1) {
    transform: rotate(0deg);
}

.fireworks .firework .explosion:nth-child(2) {
    transform: rotate(90deg);
}

.fireworks .firework .explosion:nth-child(3) {
    transform: rotate(180deg);
}

.fireworks .firework .explosion:nth-child(4) {
    transform: rotate(-90deg);
}

.fireworks .firework .explosion:nth-child(5) {
    transform: rotate(45deg);
}

.fireworks .firework .explosion:nth-child(6) {
    transform: rotate(-45deg);
}

.fireworks .firework .explosion:nth-child(7) {
    transform: rotate(135deg);
}

.fireworks .firework .explosion:nth-child(8) {
    transform: rotate(225deg);
}

.fireworks .firework .explosion .spark {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    will-change: transform;
    animation: explosion2 0.7s ease-in-out 3s infinite;
    animation-delay: 3s;
}

.fireworks .firework .explosion .spark.silver {
    background-color: #c0c0c0;
}

.fireworks .firework .explosion .spark.gold {
    background-color: #daa520;
}

@keyframes fireworkstart {
    0% {
        height: 0px;
        transform: translateY(200px);
    }

    50% {
        height: 50px;
    }

    75% {
        height: 30px;
    }

    100% {
        height: 0;
        transform: translateY(0);
    }
}

@keyframes explosion {
    0% {
        height: 0px;
        opacity: 0;
    }

    50% {
        height: 25px;
        opacity: 1;
    }

    100% {
        height: 0px;
        opacity: 0;
    }
}

@keyframes explosion2 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(70px);
    }
}